@{
    ViewData["Title"] = "Home Page";
}


<section>
 <h2>Our Services</h2>
 <div class="services">
  <div class="service">
   <img src="./images/female_hair.jpeg" alt="Service 1">
   <h3>Service 1</h3>
   <p>Description of Service 1.</p>
  </div>

  <div class="service">
   <img src="./images/men_hair.jpeg" alt="Service 2">
   <h3>Service 2</h3>
   <p>Description of Service 2.</p>
  </div>

  <!-- Add more services as needed -->
 </div>
</section>
